body {
    background: url("https://i.pinimg.com/564x/80/46/8f/80468f388bfec3d587ea00170d29e897.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
